[Desktop Entry]
Name=SwiftLife
Comment=Hızlı, modern ve Türkçe masaüstü web tarayıcısı
Exec=swiftlife
Icon=swiftlife
Terminal=false
Type=Application
Categories=Network;WebBrowser;
StartupWMClass=SwiftLife
